*{
  margin: 0;
  padding: 0;
}
.card{
  width: 300px;
  height: 400px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2EB;
  border-radius: 15px;
  box-shadow: 5px 19px 30px 10px rgba(0,0,0,0.55);
  -webkit-box-shadow: 5px 19px 30px 10px rgba(0,0,0,0.55);
  -moz-box-shadow: 5px 19px 30px 10px rgba(0,0,0,0.55);
}
.card:hover{
  transform: scale(1.2);
  transition: ease;
}
.card img{
  width: 300px;
  height: 350px;
}
.cont{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn{
  display: flex;
  justify-content: center;
  margin-top: 30px;
} 
.btn button{
  box-shadow: 3px 6px 5px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:13px;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:24px 70px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.btn button:hover{
  background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}